*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;

  /* 16px*0.625 = 10px */
  /* we do this to respect browser's font size-setting that user choise for themselves, 1rem will be equal to 10px */
  font-size: 62.5%;
}

body {
  /* font-family: "Lucida Grande", Tahoma, Verdana, sans-serif; */
  font-family: 'Inter', sans-serif;
  background: rgb(15, 15, 15);
  /* background: linear-gradient(to bottom, rgba(15, 15, 15, 1) 0%, rgba(25, 25, 25, 1) 66%, rgba(52, 52, 52, 1) 100%); */
  background: linear-gradient(to bottom, rgba(15, 15, 15, 1) 0%, rgba(25, 25, 25, 1) 85%, rgb(30, 30, 30) 100%);
  font-weight: 400;
  color:#fff;

  /* height: 100%; */
  background-repeat: no-repeat;
  background-attachment: fixed;

  /* line-height: 1; */
  /* color: #555; */
  /* font: serif; */
}

html, body {
  /* height: 100%; */
  /* overflow: hidden */

  /* max-width: 100%; */
  /* overflow-x: hidden; */
}

.btn, .btn:link, .btn:visited {
  background-color: #262524;
  color: #999;
  padding: 4px 10px;
  font-weight: bold;
  text-align: center;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  background: #313030;
}

.fully-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* .fully-center-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

.fully-center-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

/* * means, select every single elm */
*:focus {
  outline: none;
  /* box-shadow: 0 0 0 0.8rem #666; */
  /* box-shadow: 0 0 0 0.8rem #4B7399; */

  /* box-shadow: 0 0 0 0.8rem #666; */
  box-shadow: 0 0 0 0.8rem rgb(102, 102, 102,0.5);
  /* box-shadow: 0 0 0 0.8rem rgba(51, 155, 240, 0.5)  */


  /* #339bf0 */
}