*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;

  /* 16px*0.625 = 10px */
  /* we do this to respect browser's font size-setting that user choise for themselves, 1rem will be equal to 10px */
  font-size: 62.5%;
}

body {
  /* Alternative font-family */
  /* font-family: "Lucida Grande", Tahoma, Verdana, sans-serif; */

  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color:#fff;

  background: linear-gradient(to bottom, rgba(15, 15, 15, 1) 0%, rgba(25, 25, 25, 1) 85%, rgb(30, 30, 30) 100%);
  background: -webkit-linear-gradient(to bottom, rgba(15, 15, 15, 1) 0%, rgba(25, 25, 25, 1) 85%, rgb(30, 30, 30) 100%);
  background: -moz-linear-gradient(to bottom, rgba(15, 15, 15, 1) 0%, rgba(25, 25, 25, 1) 85%, rgb(30, 30, 30) 100%);
  background: -o-linear-gradient(to bottom, rgba(15, 15, 15, 1) 0%, rgba(25, 25, 25, 1) 85%, rgb(30, 30, 30) 100%);

  /* background-color does not overwrite background selector */
  background-color: rgba(15, 15, 15, 1);

  background-repeat: no-repeat;
  background-attachment: fixed;
}

html, body {
  /* max-width: 100%; */
  overflow-x: hidden;
}

.btn, .btn:link, .btn:visited {
  background-color: #262524;
  color: #999;
  padding: 4px 10px;
  font-weight: bold;
  text-align: center;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  background: #313030;
}

.fully-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fully-center-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* * means, select every single elm */
*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgb(102, 102, 102,0.5);
}