html {
  height: 100%;
}

body {
  /* background-color: #262421 */
  /* background: rgb(15, 15, 15);
  background: linear-gradient(95deg, rgba(15, 15, 15, 1) 0%, rgba(25, 25, 25, 1) 66%, rgba(52, 52, 52, 1) 100%); */

  background: rgb(15, 15, 15);
  background: linear-gradient(to bottom, rgba(15, 15, 15, 1) 0%, rgba(25, 25, 25, 1) 66%, rgba(52, 52, 52, 1) 100%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font: serif;
}

#htmlBoard {
  /* width: 35%; */
  margin: 0 auto;
  flex: 1;

  /* margin-top: 100px; */
}

#restart-btn{
  /* background-color: white */
  padding: 10px;
  font-weight: bold;
  text-align: center;  
  display:block;
  width: 300px;
  margin: 0 auto;
  /* margin-top: 20px; */
  /* background-color: #262421; */
  background-color: #262524;
  color: #999;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 15px;
}


#restart-btn:hover{
  background: #313030;
}

.interface{
  /* used padding, instead of margin as I don't want website to be scrollable */
  padding-top: 100px;

  /* position: relative; */

}


.board-container{
  display: flex;
}

.player-turn-text{
  color: white;
  font-weight: bold;
}



.right-side{
  flex: 1;
}

.chessboard-63f37{
  position: relative;
}



  /* (height of inner div) / 2 + padding */
  /* transform-origin: 100% 0; */

/* .progressbar {
  background-color: black;
  border-radius: 13px;
  position: absolute;

  padding: 3px;
  transform:rotate(-90deg);

  width: 300px;
  height: 20px;
  top: 0px;
  right: 0px;
} */



.progressbar-container{
  flex: 1;
  background-color: rgb(119, 16, 16);

}


.progressbar {
  background-color: #000;
  border-radius: 13px;
  height: 300px;
  width: 20px;

}

.progress {
  transition : width 1000ms ease-out;
  background-color: #fff;

  /* Adjust width using JS */
  width: 20px;

  /* also sets the hegiht of parent */
  height: 50%;

  border-radius: 10px;
}
