html {
  height: 100%;
}

body {
  /* background-color: #262421 */
  /* background: rgb(15, 15, 15);
  background: linear-gradient(95deg, rgba(15, 15, 15, 1) 0%, rgba(25, 25, 25, 1) 66%, rgba(52, 52, 52, 1) 100%); */

  background: rgb(15, 15, 15);
  background: linear-gradient(to bottom, rgba(15, 15, 15, 1) 0%, rgba(25, 25, 25, 1) 66%, rgba(52, 52, 52, 1) 100%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font: serif;
}

.interface{
  /* used padding, instead of margin as I don't want website to be scrollable */
  padding-top: 100px;

  /* position: relative; */

}

.board-container{
  display: flex;
  align-items: flex-start;
  /* align-items: stretch; */
}

#htmlBoard {
  /* width: 35%; */
  /* margin: 0 auto; */
  flex: 1 0 13%;

  /* margin-top: 100px; */
}

.progressbar {

  margin-left: 100px;

  /* height: 600px; */
  align-self: stretch;


  background-color: #000;
  border-radius: 13px;
  width: 20px;

  /* try to only use the 180deg, 90deg, gets complex with the positioning */
  transform: rotate(180deg);
}

.right-side{
  margin-left: 400px;
  flex: 1;

  /* align-self: center; */
  /* justify-content: center; */
   /* align-items: center;      */
  /* align-content: center;  */
}


/* .chessboard-63f37{
  position: relative;
} */

.progress {
  transition : height 1000ms ease-out;
  background-color: #fff;

  /* Adjust width using JS */
  width: 20px;

  /* also sets the hegiht of parent */
  height: 50%;

  border-radius: 10px;
}


.turn-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.chess-img{
  /* display: block; */
  /* margin: 0 auto; */
}

.player-turn-text{
  color: white;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
}

.restart-btn{

  /* background-color: white */
  padding: 10px;
  font-weight: bold;
  text-align: center;  
  display:block;
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;


  /* margin-top: 20px; */
  /* background-color: #262421; */
  background-color: #262524;
  color: #999;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 15px;
}


.restart-btn:hover{
  background: #313030;
}

.winner-text{
  /* margin-top: 200px; */
  margin: 0;
  color:#fff;
  text-align: center;
  font-weight: bold;
  font-size: 48.83px;
  font-family: 'Inter', sans-serif;
  /* display: none; */
  opacity: 0;

  /* Transition for the opacity right above */
  /* transition: opacity 1s ease-in; */ 
}

.winner-text-active{
  opacity: 1;
  display: block;
  transition: opacity 1s ease-in;
}

.hide{
  display: none;
}


.form{
  margin-top: 60px;
  text-align: center;
}

.label-text-info{
  color: white;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  font-size: 10.24px;
  text-align: left;
}

.label-text-err{
  color: rgb(187, 0, 0);
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  font-size: 12.80px;
}




/* flex: 1; */
/* flex: 0 1 auto; */
/* .progressbar-container{
  margin-left: 100px;
  height: 500px;
  background-color: rgb(159, 41, 41);

  align-self: stretch;
} */




/* (height of inner div) / 2 + padding */
/* transform-origin: 100% 0; */

/* .progressbar {
  background-color: black;
  border-radius: 13px;
  position: absolute;

  padding: 3px;
  transform:rotate(-90deg);

  width: 300px;
  height: 20px;
  top: 0px;
  right: 0px;
} */



