.interface{
  /* used padding, instead of margin as I don't want website to be scrollable */
  /* padding-top: 10rem; */
  /* position: relative; */
}

.main-container{
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  grid-template-columns: 2fr 1fr;

  /* padding-bottom: 10rem; */
}
  /* grid-template-columns: 1fr; */
  /* grid-template-columns: 3fr 2fr; */

.chessboard-container{
  /* display: grid; */
  /* column-gap: 0; */
  /* row-gap: 0; */
  /* grid-template-columns: max-content auto-fill; */
  /* grid-template-columns: max-content auto; */
  /* justify-items: end; */

  /* since chessboard-container is a child of a grid(.main-container) move it to right of that grid parent */
  justify-self: end;
  display: flex;
  margin-left: 2rem;
}

#htmlBoard {
  /* max-width does not work with this div */
  /* width: 70rem; */

  /* flex: 0 1 auto; */
  width: 70rem;
  margin-left: 2px;

  /* justify-self: end; */
}

.progressbar {
  /* height is streched */
  /* justify-self: end; */
  background-color: #000;
  border-radius: 1.3rem;
  width: 2rem;
  /* try to only use the 180deg, 90deg, gets complex with the positioning */
  transform: rotate(180deg);
}

.progress {
  transition : height 1000ms ease-out;
  background-color: #fff;
  width: 2rem;
  /* Adjust height using JS */
  /* also sets the hegiht of parent */
  height: 50%;
  border-radius: 1.3rem;
}

.winner-text{
  /* margin-top: 200px; */
  text-align: center;
  font-weight: 700;
  font-size: 4.9rem;

  /* 1) Hide it visually */
  opacity: 0;
  /*  2) make it unaccessible to mouse and keyboard */
  pointer-events: none;
  /* 3) Hide it from screen readers */
  visibility: hidden;
}

.winner-text-active {
  /* Show it visually */
  opacity: 1;
  pointer-events: auto;
  visibility: visible;

  /* Only transition when class is added, not when it's removed */
  transition: opacity 1s ease-in;
}

.turn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-king, .black-king{
  width: 100%
}


/* applies to king pic next to "your turn" button */
.hide{
  display: none;
}

.player-turn-text {
  font-weight: 700;
  font-size: 1.2rem;
}

/* START OF - FORM TO SET DIFFICULTY */
.form-difficulty {
	/* USE TEXT-ALIGN CENTER, TO CENTER EVERYTHING INSIDE OF FORM */
	text-align: center;
	line-height: 1.625;
  margin-bottom: 10px;
  /* margin: 8px auto; */
	/* padding: 16px; */
}

.form-difficulty-text{
  font-size: 10.24px;
}

.switch-field {
	display: inline-flex;
	/* display: flex; */
	overflow: hidden;
}

/* Hide radio button circles */
.switch-field input {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.switch-field label {
	background-color: #262524;
  color: #999;
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
  border: 1px solid rgba(0, 0, 0);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	/* transition: background-color,color 100ms ease-in-out; */
}

.switch-field label:hover {
	cursor: pointer;
  /* transparancy fixes the color contrast */
  background-color: rgba(201, 201, 201, 0.576);
  color: #ccc;
}

.switch-field input:checked + label {
	background-color: #999;
  color: #050505;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}
/* END OF - FORM TO SET DIFFICULTY */

.form-undo-redo{
  text-align: center;
  margin-bottom: 35px;
}

/* flex gap doesn't work in all safari browsers, instead use margin */
.btn-undo:first-child{
  margin-right: 20px;
}

.form-load-position{
  text-align: center;
  margin-bottom: 70px;
}

.fen-input{
  background:#262524;
  color: inherit;
  text-shadow:1px 1px 0px rgba(0, 0, 0,0.3);
  width:250px;
  /* width: 300px; */
  /* display:block; */
  /* margin: 0 auto; */
  margin-bottom: 10px;
  padding:7px;
  border-radius: 4px;
}

.restart-btn, .restart-btn:link, .restart-btn:visited {
  display: block;
  margin: 0 auto;
  padding: 10px;
  font-weight: 700;
  width: 30rem;
  background-color: #262524;
  color: #999;
  border-radius: 6px;
  cursor: pointer;
}

.restart-btn:hover {
  background: #313030;
}

.err-container {
  position: fixed;
  top: 0;
  left: 50%;

  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

  /* transform: translate(-50%, -50%); */

  z-index: 9999;
  /* color: #000; */
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  background-color: #eb4d4b;
  display: none;
}

.err-message{
  font-size: 1.8rem;

  /* keep text in 1 line */
  white-space: nowrap;
}

.err-container-active {
  /* opacity: 1; */
  /* transition: display 1000ms ease-in; */
  /* display: inline-flex; */
  display: block;
}

/* Removed close error button */
/*
.btn-close-err-container {
  margin-left: 20px;
  font-size: 2rem;
  cursor:pointer;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
}
*/