/* 1em = 16px */

/* <= 1138px / 71.125em */
@media (max-width: 71.125em){

  .interface{
    margin-top: 3rem;
  }

  #htmlBoard {
    width: 60vw;
  }

  .winner-text {
    font-size: 4rem;
  }

  .restart-btn, .restart-btn:link, .restart-btn:visited {
    width: 25rem;
  }

}

/* <= 1018px / 63.625em */
@media (max-width: 63.625em){

  /* add padding to avoid any problems on (horizontal) mobile devices as it offsets the footer's height */
  .interface{
    margin-top: 5.5rem;
    /* margin-top: 5rem; */
  }

  #htmlBoard {
    width: 55vw;
  }

}

/* Mobile Horizontal */
/* <= 891px / 55.6875em */
@media (max-width: 56.5em){

  .err-container {
    padding: 1.2rem 10rem;
  }

  .main-container {
    column-gap: 2.5rem
  }

  #htmlBoard {
    width: 55vw;
  }

  .winner-text{
    font-size: 2.4rem;
  }

  .white-king, .black-king{
    width: 5rem;
  }

  .player-turn-text{
    font-size: 1.1rem;
  }

  .form-undo-redo{
    margin-bottom: 2rem;
  }

  .form-load-position {
    margin-bottom: 2.5rem;
  }

  .fen-input {
    max-width: 17rem;
  }

  .restart-btn, .restart-btn:link, .restart-btn:visited{
    max-width: 17rem;
  }

  .copyright-container {
    font-size: 0.85rem;
  }

}

/* <= 630px 39.375em */
@media (max-width: 39.375em) {

  .interface{
    margin-top: 1rem;
  }

  .err-message{
    font-size: 1.5rem;
  }
  
  .err-container {
    padding: 1.1rem 10rem;
  }
  
  .fully-center-body {
    position: static;
    transform: translate(0%, 0%);

    display: flex;
    flex-direction: column;

    /* since flex-direction is column align-items horizontally centers items */
    align-items: center;
  }

  .main-container {
    grid-template-columns: min-content;
    row-gap: 0;
  }

  #htmlBoard {
    width: 90vw;
  }

  .chessboard-container{
    grid-template-columns: max-content 40rem;
    margin: 0;
  }

  .winner-text-active {
    margin-top: 1rem;
  }

  .form-difficulty-text {
    margin-bottom: 0.3rem;
    display: inline-block;
  }

  .restart-btn, .restart-btn:link, .restart-btn:visited{
    max-width: 20rem;
  }

  .copyright-container {
    font-size: 0.8rem;
    margin-top: 3rem;
  }

}

/* <=472px 29.5em */
@media (max-width: 29.5em) {

  .white-king, .black-king{
    width: 4.6rem;
  }

  .err-message{
    font-size: 1.4rem;
  }

  .err-container {
    padding: 0.8rem 6rem;
  }

  .restart-btn, .restart-btn:link, .restart-btn:visited{
    max-width: 20rem;
  }

  .progressbar, .progress {
    width: 1.7rem;
  }

  .notation-322f9{
    font-size: 1.2rem;
  }

  .copyright-container {
    font-size: 0.7rem;
  }
}

/* <=400px 25em */
@media (max-width: 25em) {

  .err-container {
    padding: 0.5rem 5rem;
  }

}

/* <=324px 20.25em */
@media (max-width: 20.25em) {

  .white-king, .black-king{
    width: 4.3rem;
  }

  .progressbar, .progress {
    width: 1.4rem;
  }

  .notation-322f9{
    font-size: 0.9rem;
  }

}
