/* 1em = 16px */

/* <= 1138px / 71.125em */
@media (max-width: 71.125em){
  /* .interface{
    padding-top: 1rem;
  } */

  .restart-btn, .restart-btn:link, .restart-btn:visited {
    width: 25rem;
  }

  #htmlBoard {
    width: 60vw;
  }
}

/* <= 1018px / 63.625em */
@media (max-width: 63.625em){

  .interface{
    padding-top: 1rem;
  }

  #htmlBoard {
    width: 55vw;
  }

  .main-container {
    /* column-gap: 1rem */
  }

}

/* Mobile Horizontal */
/* <= 891px / 55.6875em */
@media (max-width: 56.5em){

  /* .err-message {
    white-space: nowrap;
  } */

  .err-container {
    padding: 1.2rem 10rem;
  }

  /* TODO CHANGE POSITION TO STATIC, & REMOVE ABSOLUTE */
  .fully-center-body {
    top: 51%
  }

  .interface{
    padding-top: 1rem;
  }

  .main-container {
    column-gap: 1rem
  }

  #htmlBoard {
    width: 55vw;
    /* width: 40vw; */
  }

  .winner-text{
    font-size: 2.4rem;
  }

  .turn-container{
    margin-bottom: 1rem;
  }

  .white-king, .black-king{
    width: 40%;
  }

  .player-turn-text{
    font-size: 1.1rem;
  }

  .form-undo-redo{
    margin-bottom: 2rem;
  }

  .form-load-position {
    margin-bottom: 3rem;
  }

  .fen-input {
    max-width: 17rem;
  }

  .restart-btn, .restart-btn:link, .restart-btn:visited{
    max-width: 17rem;
  }

}

/* <= 630px 39.375em */
@media (max-width: 39.375em) {
  /* .fully-center-body {
    top: 55%
  } */

  .err-message{
    font-size: 1.5rem;
  }
  .err-container {
    padding: 1.1rem 10rem;
  }

  .fully-center-body {
    position: static;
    transform: translate(0%, 0%);

    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
  }

  .interface{
    padding-top: 1rem;
  }

  .main-container {
    grid-template-columns: min-content;
    row-gap: 0rem;
  }

  #htmlBoard {
    width: 90vw;
  }

  .chessboard-container{
    /* margin-right: 2rem; */
    grid-template-columns: max-content 40rem;
    margin: 0;
  }

  .settings-container {
    /* display: grid; */
    /* column-gap: 0rem; */
    /* row-gap: 6rem; */
    /* grid-template-columns: 1fr; */
    /* display: flex; */
  }

  .form-difficulty-text {
    margin-bottom: 0.3rem;
    display: inline-block;
  }

  /* .fen-input {
    max-width: 18rem;
  } */

  .restart-btn, .restart-btn:link, .restart-btn:visited{
    max-width: 20rem;
    margin-bottom: 3rem;
  }



  /* .form-undo-redo {
    margin-bottom: 0;
  } */

  /* .form-load-position{
    margin-bottom: 4rem;
  } */

  /* .fen-input{
    margin-bottom: 0.1rem;
  } */
}


/* <=472px 29.5em */
@media (max-width: 29.5em) {

  .err-message{
    font-size: 1.4rem;
  }
  .err-container {
    padding: 0.8rem 6rem;
  }

  .restart-btn, .restart-btn:link, .restart-btn:visited{
    max-width: 20rem;
    margin-bottom: 0;
  }

  .progressbar, .progress {
    width: 1.7rem;
  }

  .notation-322f9{
    font-size: 1.2rem;
  }
}

/* <=400px 25em */
@media (max-width: 25em) {

  .err-container {
    padding: 0.5rem 5rem;
  }
}

/* <=324px 20.25em */
@media (max-width: 20.25em) {
  .progressbar, .progress {
    width: 1.4rem;
  }

  .notation-322f9{
    font-size: 0.9rem;
  }
}



/* <=592px 37em */
/* @media (max-width: 35em) {
  .fully-center-body {
    top: 50%
  }
} */

/* .body{
  line-height: 1000;
} */